<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.name }}</title>
</head>
<body>
    {% csrf_token %}
    <h1>ID: {{ user.id }}</h1>
    <p>Ім'я: {{ user.name }}</p>
    <p>Прізвище: {{ user.surname }}</p>
    <p>Дата: {{ user.date_of_birth }}</p>
    <p>Номер телефону: {{ user.phone_number }}</p>
    <p>Стать: {{ user.gender }}</p>



    <form method="POST" action="{% url 'delete_user' user.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

    <button onclick="window.location.href='/site/change/{{ user.id }}/'">
                        change
                    </button>
</body>
</html>
